<div class="well">
  <h4>
    {{#link-to 'todos.edit' todo.id}}{{todo.title}}{{/link-to}}
    <span class="label label-{{get-date-class todo.date}} pull-right">{{format-date todo.date}}</span>
  </h4>
  {{format-markdown todo.body}}
</div>
